/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Proxima Nova Regular'; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*Our style*/

.wrapper{
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.center{
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
}
header .top_header{
	height: 60px;
	background-color:#2d3e50;
}

header .flex_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

header .flex_header a{
	font-size: 14px;
	text-decoration: none;
color: #ffffff;
}
header .flex_header a:hover{
	color: #ffc000;
}


header .flex_header i{
	color: #ffc000;
	margin-right: 20px;
	font-size: 16px;
	position: relative;
	top: 2px;
}

header .bottom_header{
	height: 90px;
	display: flex;
	align-items: center;

}
 header .bottom_header a{
	font-family: 'Proxima Nova Bold';
	text-decoration: none;
	font-size: 21px;
	color:#2d3e50 ;
}
header .bottom_header a span{
	color: #ffc000;
}
header .bottom_header .menu{
	display: flex;
}

header .bottom_header .menu li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #252c30;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 30px;
}
header .bottom_header .menu li a:hover{
	color: #ffc000;
}

header .bottom_header .search i{
	font-size: 22px;
	color: #252c30;
}
header .bottom_header .search:hover i{
	color: #ffc000;
	cursor: pointer;
}
header .bottom_header nav{
	margin-left: 15%;
}
.container2{
	background-image: url('./repace.png');
	height: calc(100vh - 150px);
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 805px;
}
.container2 h1{
	font-size: 70px;
	color: #ffffff;
	font-family: 'Proxima Nova Bold';
	padding: 350px 0px 0px 440px;

}

.container2  h1 span{
	color: #ffc000;
}

.container2 p {
	font-size: 16px;
	color:#f8f8f8;
	font-family: 'Proxima Nova Bold';
	padding: 0px 490px 0px 490px;
}

.container2 .buttons{
	display: inline-block;
	color: #ffffff;
	background-color: #ffc000;
	font-size: 16px;
	padding: 22px 80px 22px 80px;
	margin-left: 695px;
	border-radius: 30px;
}
.container2 .buttons:hover{
	background-color: white;
	cursor: pointer;
	color: #ffc000;
}
.container3{
	padding-top: 120px;
}

.container3 .top_header p{
	text-align: center;
	font-size: 18px;
	font-family: 'Proxima Nova Bold';
	margin-bottom: 10px;
}

.container3 .top_header1 h2{
	text-align: center;
	font-family: 'Proxima Nova Bold';
	font-size: 35px;
}

.container3  h2 span{
	color: #ffc000;
}

.container3 .top_header2 p{
	text-align: center;
	font-size: 18px;
	font-family: 'Proxima Nova Bold';
	margin-top: 40px;
}

.container3 .cards{
display: flex;
justify-content: space-between;
margin-top: 60px;
margin-left: 246px;
margin-right: 245px;
}

.container3 .cards .item{
	padding: 60px 0;
	width: 22%;
	background-color: #2d3e50;
	height: 380px;
	color:white;
}
.container3 .cards .item:hover{
	background-color: white;
	cursor: pointer;
	border: 1px solid #ffc000;
	color: black;
}
.container3 .cards .item i{
	padding: 30px 30px;
	background-color: #ffc000;
	color: #ffffff;
	border-radius: 50px;
	font-size: 40px;
	margin-left: 70px;
	margin-bottom: 30px;
	
}

	.container3 .cards .item p{
		font-size: 18px;
		text-align: center;
		margin-top: 14px;
		margin-bottom: 90px;
}
.container3 .cards .item p1 {
    font-size: 19px;
    text-align: center;
    font-weight: 900;
    padding: 51px;
    margin-right: -16px;
}

.container4{
background-image: url(./replace\ image1.png);
display: flex;
justify-content: flex-start;
height: 246px;
margin-top: 4%;


}

.container4 .item1 p{
	color: #ffffff;
	font-size: 27px;
	font-family: 'Proxima Nova Bold';
	margin-top: 80px;
	margin-left: 261px;
	margin-bottom: 20px;
}
.container4 .item1 p1{
	color: #ffffff;
	font-size: 50px;
	font-family: 'Proxima Nova Bold';
	margin-top: 35px;
	margin-left: 323px;
}


.container4 .item2 p{
	color: #ffffff;
	font-size: 27px;
	font-family: 'Proxima Nova Bold';
	margin-top: 80px;
	margin-left: 100px;
	margin-bottom: 20px;
}
.container4 .item2 p1{
	color: #ffffff;
	font-size: 50px;
	font-family: 'Proxima Nova Bold';
	margin-top: 35px;
	margin-left: 125px;}




	.container4 .item3 p{
		color: #ffffff;
		font-size: 27px;
		font-family: 'Proxima Nova Bold';
		margin-top: 80px;
		margin-left: 120px;
		margin-bottom: 20px;
	}
	.container4 .item3 p1{
		color: #ffffff;
		font-size: 50px;
		font-family: 'Proxima Nova Bold';
		margin-top: 35px;
		margin-left: 130px;}




		.container4 .item4 p{
			color: #ffffff;
			font-size: 27px;
			font-family: 'Proxima Nova Bold';
			margin-top: 80px;
			margin-left: 120px;
			margin-bottom: 20px;
		}
		.container4 .item4 p1{
			color: #ffffff;
			font-size: 50px;
			font-family: 'Proxima Nova Bold';
			margin-top: 35px;
			margin-left: 155px;
		}



		.container5 .top_descr{
			text-align: center;
			font-size: 18px;
			font-family: 'Proxima Nova Bold';
			margin-bottom: 10px;
			margin-top: 6%;
		}
		
		.container5 .center h2{
			text-align: center;
			font-family: 'Proxima Nova Bold';
			font-size: 35px;
		}
		
		.container5  h2 span{
			color: #ffc000;
		}
		
		.container5 .center .descr{
		display: flex;
		justify-content: space-between;
		margin-left: 246px;
		margin-right: 245px;
		text-align: center;
		font-size: 16px;
		font-family: 'Proxima Nova Bold';
		margin-top: 3%;
		margin-bottom: 5%;
		}

		.container5 .grid_block{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-column-gap: 100px;
			grid-row-gap: 80px;
			margin: 150px;
		}

		.container5 .grid_block .descr{
			font-size: 20px;
			font-family: 'Proxima Nova Bold';
			padding-top: 5px;
			text-align: left;
            width: calc(100% - 60px);
            margin-left: 80px;
		}

		.container5 .grid_block h2{
			font-size: 25px;
			font-family: 'Proxima Nova Bold';
			padding-bottom: 2px;
			text-align: left;
            width: calc(100% - 60px);
            display: inline;
         margin-left: 23px;
		}

		.container5 .grid_block .item3 h2{
			font-size: 25px;
			font-family: 'Proxima Nova Bold';
			padding-bottom: 2px;
			text-align: left;
            width: calc(100% - 60px);
            display: inline;
		 margin-left: 10px;
		}
		.container5 .grid_block .item4 h2{
			font-size: 25px;
			font-family: 'Proxima Nova Bold';
			padding-bottom: 2px;
			text-align: left;
            width: calc(100% - 60px);
            display: inline;
		 margin-left: 10px;
		}

		.container5 .grid_block .item1 {
			grid-row: 1/2;
			grid-column: 1/2;
		
		}
		.container5 .grid_block .ir{
			position: relative;
            top: 16px;
            right: 30px;
		}
		
		.container5 .grid_block .item2{
			grid-row: 1/2;
			grid-column: 2/3;
			
		}
		.container5 .grid_block .item3{
			grid-row: 1/2;
			grid-column: 3/4;
			
		}
		.container5 .grid_block .item4{
			grid-row: 2/3;
			grid-column: 1/2;

		}
		.container5 .grid_block .item5{
			grid-row: 2/3;
			grid-column: 2/3;
			
		}
		.container5 .grid_block .item6{
			grid-row: 2/3;
			grid-column: 3/4;
		}
		
		





.container7 ul{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.container7 .top_descr{
	text-align: center;
	font-size: 18px;
	font-family: 'Proxima Nova Bold';
	margin-bottom: 10px;
	margin-top: 12%;
}

.container7 .center h2{
	text-align: center;
	font-family: 'Proxima Nova Bold';
	font-size: 35px;
}

.container7  h2 span{
	color: #ffc000;
}


.container7 .center .descr{
display: flex;
justify-content: space-between;
margin-left: 246px;
margin-right: 245px;
text-align: center;
font-size: 16px;
font-family: 'Proxima Nova Bold';
margin-top: 3%;
margin-bottom: 5%;
}




		.container7 ul li{
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-size: 14px;
			color: #252c30;
			text-transform: uppercase;
			padding: 0 17px;
		}


		.container7 ul li:hover{
			color: #ffc000;
			cursor: pointer;
		}
		.container7 .grid_block{
			display: grid;
			grid-template-columns: 1fr 1fr 25% 25%;
			grid-template-rows: 1fr;

		}

		.container7 .grid_block img{
			max-width: 100%;
			object-fit: cover;
			height: 100%;
		}
		   .container8 .top_descr{
			  text-align: center;
			  font-size: 18px;
			  font-family: 'Proxima Nova Bold';
			  margin-bottom: 10px;
			  margin-top: 12%;}
		        .container8 .center h2{
			       text-align: center;
			       font-family: 'Proxima Nova Bold';
			       font-size: 35px;}
		           .container8  h2 span{
			          color: #ffc000;}
		               .container8 .center .descr{
		                  display: flex;
		                  justify-content: space-between;
		                  margin-left: 246px;
		                  margin-right: 245px;
		                  text-align: center;
		                  font-size: 16px;
		                  font-family: 'Proxima Nova Bold';
		                  margin-top: 3%;
	                	margin-bottom: 5%;}

.container8 .item{
background-color: #2d3e50;
max-width: 350px;
text-align: center;
min-width: 290px;
padding-bottom: 50px;
}

.container8 .item img{
	padding-top: 50px;
    padding-bottom: 40px;
}

.container8 .social a{
	background-color: #ffffff;
	color: #2d3e50;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	margin: 0 10px;
}
.container8 .text h3{
	margin-top: 40px;
	color: #ffffff;
	font-size: 20px ;
	text-transform: uppercase;
}
.container8 .text p{
	margin-bottom: 40px;
	color: #ffc000;
}
.container9 .top_descr{
	text-align: center;
	font-size: 18px;
	font-family: 'Proxima Nova Bold';
	margin-bottom: 10px;
	margin-top: 12%;}
	  .container9 .center h2{
		 text-align: center;
		 font-family: 'Proxima Nova Bold';
		 font-size: 35px;}
		 .container9  h2 span{
			color: #ffc000;}
			 .container9 .center .descr{
				display: flex;
				justify-content: space-between;
				margin-left: 246px;
				margin-right: 245px;
				text-align: center;
				font-size: 16px;
				font-family: 'Proxima Nova Bold';
				margin-top: 3%;
			  margin-bottom: 5%;}
			    .container9 .item{
				    background-color: #ffc000;
			      	max-width: 350px;
				    text-align: center;
			     	min-width: 290px;
				    padding-bottom: 50px;}
					    .container9 .text h3{
						    margin-top: 40px;
						    color: #ffffff;
						    font-size: 15px ;
							text-transform: uppercase;
							text-align: initial;
							padding-left: 15px;
						    font-weight: 900;}
				            	.container9 .text p{
						            padding-top: 30px;
                                    text-align: left;
                                    padding-left: 25px;
									color: #ffffff;
									font-size: 14px ;}
									.container9 .text1 p{
										text-align: left;
										padding-left: 30px;
										padding-top: 30px;}
										.container9 .text1 span{
											text-align: right;
											padding-left: 100px;}
											.container9 .text2 h2{
												margin-top: 120px;
											}
											.container9 .item img{
												max-width: 100%;
											}
@media(max-width: 1420px){
	.container2 h1 {
		font-size: 60px;
		padding: 320px 0px 0px 395px;}
		.container2 p {
			font-size: 14px;
			padding: 0px 464px 0px 454px;}
			.container2 .buttons {
				font-size: 14px;
				padding: 15px 70px 15px 70px;
				margin-left: 620px;}
				.container3 .cards .item p1 {
					font-size: 12px;}
					.container3 .cards .item p {
						font-size: 12px;}
						.container3 .cards .item i {
							font-size: 30px;
							margin-left: 50px;}
}
@media(max-width: 1300px){
	.container3 .cards .item p1 {
		font-size: 9px;}
		.container4 .item1 p, .container4 .item2 p, .container4 .item3 p, .container4 .item4 p {
			font-size: 25px;}
			.container4 .item1 p1, .container4 .item2 p1, .container4 .item3 p1, .container4 .item4 p1 {
				font-size: 40px;}
}
@media(max-width: 1200px){
	.container8 .item{
		max-width: 300px;}
		.container2 h1 {
			padding: 260px 0px 0px 360px;}
			.container2 p {
				font-size: 14px;
				padding: 0px 220px 0px 400px;}
				.container3 .cards .item i {
					font-size: 15px;
					margin-left: 30px;}
	.container5 .grid_block .item3 h2 {
		font-size: 20px;}
		.container5 .grid_block h2 {
			font-size: 20px;}
			.container5 .grid_block .item4 h2 {
				font-size: 20px;}
				.container5 .grid_block .descr {
					font-size: 18px;}
					.container5 .grid_block {
						margin: 120px;}
						.container5 .grid_block .ir {
							right: -8px;}
	  
}

		@media(max-width: 1024px){
			header .bottom_header .menu{
				display: none;
			}
			.container5 .grid_block .descr {
				font-size: 15px;}
				.container5 .grid_block .item3 h2 {
					font-size: 17px;}
					.container5 .grid_block h2 {
						font-size: 16px;}
						.container5 .grid_block .item4 h2 {
							font-size: 16px;}
							.container5 .grid_block{
								grid-column-gap: 60px}
								.container2 h1 {
									padding: 190px 0px 0px 230px;}
									.container2 p {
										padding: 21px 217px 0px 270px;}
										.container2 .buttons {
											margin-left: 460px;
											margin-top: 55px;}
								
								
		
		}
		@media(max-width: 768px){
			.container7 .grid_block{
				grid-template-columns: 1fr 50%;
				grid-template-rows: auto;
			}
			.container7 ul{
				flex-direction: column;
				align-items: center;
			}
			.container7 ul li{
				padding: 10px 0;
			}
			.container8 .item{
				max-width: 90%;
			}
			.container5 .grid_block {
				margin: 30px;}
				.container5 .grid_block {
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr 1fr;}
					.container5 .grid_block .item3 {
						grid-row: 2/3;
						grid-column: 1/2;
					}
					.container5 .grid_block .item4 {
						grid-row: 2/3;
						grid-column: 2/3;
					}
					.container5 .grid_block .item5 {
						grid-row: 3/4;
						grid-column: 1/2;
					}
					.container5 .grid_block .item6 {
						grid-row: 3/4;
						grid-column: 2/3;
					}
				}
		
		@media(max-width: 425px){
			.container7 .grid_block{
				grid-template-columns: 1fr;
				grid-template-rows: auto;
			}
			.container7 .grid_block img{
				width: 100%;
			}
			.container5 .center .descr {
				display: flex;
				justify-content: space-between;
				font-size: 16px;
				font-family: 'Proxima Nova Bold';
				margin-top: 3%;
				margin-bottom: 5%;}

				.container5 .grid_block {
					grid-row-gap: 15px;}
					.container5 .grid_block {
						display: grid;
						grid-template-columns: 1fr;
						grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;}
						.container5 .grid_block .item1 {
							grid-row: 1/2;
							grid-column: 1/2;}
                            .container5 .grid_block .item2 {
							    grid-row: 2/3;
							    grid-column: 1/2;}
						         .container5 .grid_block .item3 {
							        grid-row: 3/4;
							        grid-column: 1/2;}
						               .container5 .grid_block .item4 {
							              grid-row: 4/5;
							              grid-column: 1/2;}
						                    .container5 .grid_block .item5 {
							                    grid-row: 5/6;
							                    grid-column: 1/2;}	
											    .container5 .grid_block .item6 {
							                        grid-row: 6/7;
							                        grid-column: 1/2;}
					                            	.container5 .center .descr {
							                             margin-left: 5px;
                                                        margin-right: 5px;}
	}